<!-- your html code here -->
<p><div class="container px-4 text-center">
    <div class="row gx-5">
      <div class="col">
       <div class="p-3">Start Bootstrap </div>
      </div>
      <div class="col">
        <div class="p-3">About</div>
      </div>
      <div class="col">
        <div class="p-3">Services</div>
       </div>
       <div class="col">
         <div class="p-3">Portfolio</div>
       </div>
       <div class="col">
        <div class="p-3">Contact</div>
       </div>
    </div>
  </div>
</p>